body {
    font-family: georgia; 
    background-color: #3AAFA9;
}

h1 {
    font-size: 48px;
    display: block;
   margin-left: auto;
   margin-right: auto; 
   text-align: center;
   text-shadow: 2px 2px 3px black;
   color: #2b7a78;
}

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 60%;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 

.column {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   margin-bottom: 3%; 
   width: 500px;
   background-color: white;
   border: solid #E8A87C 12px;
   padding: 5%;
   box-shadow: 4px 6px 20px 20px black;
   border-radius: 25px;
}

.column p {
    padding: 0 40px;
}

p {
}

.mw-headline {
    padding: 0 40px;
}

img {
    max-width: 100%;
    max-height: 100%;   
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 160px;
  padding: 0;
  width: 350px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  float: left;
  font-size: 24px;
}

li a.active {
  background-color: #E8A87C;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}